services:
  strapi:
    image: xicota-cmspatas-kq4lpn:latest
    restart: always
    ports:
      - "1337:1337"
    environment:
      NODE_ENV: production
    volumes:
      - /srv/strapi/uploads:/app/public/uploads
