services:
  strapi:
    image: xicota-cmspatas-kq4lpn:latest
    restart: always
    ports:
      - "1337:1337"
    environment:
      NODE_ENV: production
    volumes:
      - type: bind
        source: /srv/strapi/uploads
        target: /app/public/uploads
